@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-sans: 'Inter', sans-serif;
}
