@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: fallback;
}

@theme {
  --font-sans: 'Inter', sans-serif;
}
